



/* ----------------------------------------------------------------------------------------------------------- */
#slideshow img{
    height: 100%;
    width: 100%;   
   }
   #cards img{
     width: 100%;
   }
   #stay{
       height: 148px;
       width: 100%;
   }
   #move{
       height: 280px;
       width: 100%;
   }
   #cards{
     margin-top: 30px;
     width: 1250px;
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-template-rows: auto;
     gap:30px;
     
   }
   #tests{
     display: grid;
     justify-content: center;
     width: 1250px;
     padding: 3%;
   
   }
   #tests p{
     color:rgb(95, 85, 85)
     
   }
   .mrp{
     display: flex;
     justify-content: space-between;
     margin-bottom: -10px;
   }
   .offers{
     display: flex;
     justify-content: space-between;
   }
   #title{
     margin: 20px 0px;
     font-size: 20px;
   }
   #subtitle{
     color:rgb(95, 85, 85);
   }
   /* -------------------------------------------------------------------------------- */