
#bgBlack {
  background-color: black;
}

#kfirstVideo {
  /* background: url("https://cdn-images.cure.fit/www-curefit-com/video/upload/c_fill,w_1600,ar_1.77,q_auto:eco,dpr_2,vc_auto,f_auto/video/test/we-are-cult-web.mp4");
  background-size: cover;
  height: 700px;
  width: 100%; */
  background-color: black;
}
#myVideo {

  background-size: cover;
  height: 700px;
  width: 100%;
}
.kEliteCard {
  /* height: 220px;
  width: 400px;
  background-color: rgb(74, 68, 68);
  color: rgb(159, 152, 152);
  font-family: 'BrandonTextWeb-Regular';
  border: solid 1px rgb(217, 205, 202);
  margin: 30px;
  font-size: 20px; */

  height: 220px;
  width: 25%;
  background-color:hsla(41, 100%, 10%, 0.7);;
  color: rgb(159, 152, 152);
  font-family: 'BrandonTextWeb-Regular';
  border: solid 1px rgb(217, 205, 202);
  margin: 30px;
  font-size: 20px;
  margin: auto;
}

#card_3 {

  /* display: flex;
  justify-content: center;
  text-align: center;
  background-color: black; */

  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 0px;
 width: 100%;
  position: absolute;
  top:500px;
  z-index: 5;
  
}

#card_3>h1 {
  font-size: 30px;
}

.kAniCard>img {
  height: 350px;
  width: 500px;
  margin: 50px;
}

#animationCard1,
#animationCard2 {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.firstLine {
  text-align: center;
  font-size: 80px;
  color: #fff;
}



/* new  */

#grid2,
#grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);


}

#grid1>div>img {
  height: 400px;
  width: 300px;
  padding: 0%;
  margin: 0%;

}

#grid2>div>img {
  height: 400px;
  width: 300px;


}

#kcart_3 {
  display: flex;
 margin-left: 200px;
 margin-bottom: 100px;
  gap: 20px;
  background: url("");
}

#kcart_3>div>img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}

#kcart_3>div {
  height: 500px;
  width: 300px;
  border: solid 1px rgb(115, 111, 111);
  border-radius: 15px;

}

#kcart_3>div>h5 {
  color: #fff;
}

#kcart_3>div>ul {
  color: #fff;

}

.line3Id {
  color: #fff;
  text-align: center;
}

#bigCart4_1,
#bigCart4_2 {
  display: flex;
  margin-left: 200px;
  margin-bottom: 20px;
  gap: 20px;
}

#bigCart4_1>div>img {
  height: 500px;
  width: 500px;
  border-radius: 20px;

}

#bigCart4_2>div>img {
  height: 500px;
  width: 500px;
  border-radius: 20px;

}

#longDiv1>img {
  height: 390px;
  width: 80%;
  margin-left: 150px;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 15px;
}

#longLine1 {
  color: #fff;
  text-align: center;
  font-size: 90px;
  padding: 0%;
  margin: 0%;
}

#cart_2_grid {
  display: flex;
  margin: 200px;
  gap: 20px;
  margin-top: 30px;

}

#cart_2_grid>div>img {
  height: 360px;
  width: 500px;
  padding: 0%;
  margin: 0%;
  border-radius: 15px;
}

#longdiv2>img {
  height: 800px;
  width: 100%;
}
.bigcart_hover{
  transition: 1s;
}
.bigcart_hover:hover{
  transform: scale(1.3);
}
/* cart  */

#mainCartContantPagr {
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  z-index: 2000;
  transition: 0.5s ease;
  box-shadow: rgb(0, 0, 0) 0px 30px 90px;
}

.DisplayTheactivnessFrocart {
  right: 0 !important;
}

#CloseCartBtn {
  position: fixed;
  display: none;
  top: 0;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  color: black;
}

#closeTheimgTag {
  width: 30px;
  height: 30px;
  color: black;
}

#mainCartContantPagr {

  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  z-index: 2000;
  transition: 0.5s ease;
  box-shadow: rgb(0, 0, 0) 0px 30px 90px;
}

.DisplayTheactivnessFrocart {
  right: 0 !important;
}

#CloseCartBtn {
  position: fixed;
  display: none;
  top: 0;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  color: black;
}

#closeTheimgTag {
  width: 30px;
  height: 30px;
  color: black;
}

.cart-box {
  width: 26% !important;
  position: absolute;
  left: 72%;
  top: 10%;

  padding: 10px 20px;
  background-color: #fff;
}

.cart-wrapper {
  overflow-y: auto;
  max-height: 350px;
  width: 25vw;

}

.subtotal {
  text-align: right;
  padding: 5%;
}

.checkout
{
  width: 95%;
  text-align: center;
  cursor: pointer;
 
  background-color: rgb(255, 50, 120);
  font-size: large;
  color: #fff;
  margin: 10px auto;
  padding: 10px 15px;

}
/* .checkout > button{
  border: none;
} */
#kcheckoutBtn{
  border: none;
  background: none;
  color: #fff;
}
.cart-item {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 5% 2%;
  border-bottom: solid 1px lightgray;

}

#cart-image {
  width: 100px;
}

#cart-price {
  display: block;
  text-align: right;
  margin-top: 35%;

}

.quantity {
  display: block;
  margin-top: 5%;

}

.cancel {
  text-align: right;
}